body {
    font:normal 15px arial
}
input {
    font:normal 17px arial
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
li a {
    display:block;
    color:#cf0000;
    text-decoration:none;
}
li a:hover {
    color:#000;
    background-color:#F8F8F8;
    border-radius:1px;
}
.box {
    display:block;
    position:relative;
    margin:0 0 7px;
}
.bordered {
    border:1px solid #F8F8F8;
    border-radius:5px;
    padding: 3px;
}
a.info {
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    text-decoration:underline;
    cursor:pointer;
}
a.info:hover {
    z-index:25;
}
a.info span {
    display: none
}
a.info:hover span { /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    left:0px;width:180px;
    border:1px solid black;
    background-color:#F8F8F8; color:#000;
    border-radius:3px;
    padding:3px;
    text-align: left;
    word-wrap:break-word;
    font-size:12px;
}
.alt-button {
    border-radius:5px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-weight:bold;
    padding:3px;
    text-decoration:none;
    height:30px;
}
.alt-button:hover {
    background-color:#F8F8F8;
    cursor:pointer;
}
.alt-button:active {
    position:relative;
    top:1px;
}